<div id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div>
                    <button type="button"  class="close"  ng-click="cancel()">X</button>
                    <h4 class="modal-title" id="myModalLabel">Developer Info</h4>
                </div>
            </div>


            <div class="modal-body">

                    <div><label ng-model="devNavigation" uib-btn-radio="'operations'" ng-click="closeModal()">Operations</label></div>
                    <div><label ng-model="devNavigation" uib-btn-radio="'guidelines'" ng-click="closeModal()">Guidelines</label></div>
                    <div><label ng-model="devNavigation" uib-btn-radio="'architecture'" ng-click="closeModal()">Arhitecture</label></div>
                    <div><label ng-model="devNavigation" uib-btn-radio="'standards'" ng-click="closeModal()">Standards</label></div>
                    <div><label ng-model="devNavigation" uib-btn-radio="'setup'" ng-click="closeModal()"> Project Set Up</label></div>
                    <div><label ng-model="devNavigation" uib-btn-radio="'help'" ng-click="closeModal()">Technical Help</label></div>
                    <div><label ng-model="devNavigation" uib-btn-radio="'team'" ng-click="closeModal()">Team Members</label></div>
                    <div><label ng-model="devNavigation" uib-btn-radio="'schedule'" ng-click="closeModal()">Schedule</label></div>
                    <div><label ng-model="devNavigation" uib-btn-radio="'codepen'" ng-click="closeModal()">Technical Research</label></div>

            </div>




            </div></div></div>