
<nav id="myNavbar" class="navbar navbar-default navbar-static-top" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="container-fluid">
        <div class="navbar-header pull-left">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarCollapse">
                <ul class="nav navbar-nav ">
                    <li><label class="btn btn-primary pull-right btn-xs" ng-model="mc.devNavigation" uib-btn-radio="'operations'">Dev Ops &nbsp;</label></li>
                    <li><label class="btn btn-primary pull-right btn-xs" ng-model="mc.devNavigation" uib-btn-radio="'guidelines'">Guideline </label></li>
                    <li><label class="btn btn-primary pull-right btn-xs" ng-model="mc.devNavigation" uib-btn-radio="'architecture'">Architect&nbsp;&nbsp;</label></li>
                    <li><label class="btn btn-primary pull-right btn-xs" ng-model="mc.devNavigation" uib-btn-radio="'standards'">Standard &nbsp;</label></li>
                    <li><label class="btn btn-primary pull-right btn-xs" ng-model="mc.devNavigation" uib-btn-radio="'setup'"> SetUp    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </label></li>
                    <li><label class="btn btn-primary pull-right btn-xs" ng-model="mc.devNavigation" uib-btn-radio="'help'">Tech Help   </label></li>
                    <li><label class="btn btn-primary pull-right btn-xs" ng-model="mc.devNavigation" uib-btn-radio="'team'">Team &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label></li>
                    <li><label class="btn btn-primary pull-right btn-xs" ng-model="mc.devNavigation" uib-btn-radio="'schedule'">Schedule   </label></li>
                    <li><label class="btn btn-primary pull-right btn-xs" ng-model="mc.devNavigation" uib-btn-radio="'codepen'">Code Pen  </label></li>
                </ul>
            </button>

        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbarCollapse">
           <ul class="nav navbar-nav">
                <li><label class="btn btn-primary" ng-model="mc.devNavigation" uib-btn-radio="'operations'">Dev Operations</label></li>
                <li><label class="btn btn-primary" ng-model="mc.devNavigation" uib-btn-radio="'guidelines'">Guidelines</label></li>
                <li><label class="btn btn-primary" ng-model="mc.devNavigation" uib-btn-radio="'architecture'">Arhitecture</label></li>
                <li><label class="btn btn-primary" ng-model="mc.devNavigation" uib-btn-radio="'standards'">Standards</label></li>
                <li><label class="btn btn-primary" ng-model="mc.devNavigation" uib-btn-radio="'setup'">Set Up</label></li>
                <li><label class="btn btn-primary" ng-model="mc.devNavigation" uib-btn-radio="'help'">Technical Help</label></li>
                <li><label class="btn btn-primary" ng-model="mc.devNavigation" uib-btn-radio="'team'">Team Members</label></li>
                <li><label class="btn btn-primary" ng-model="mc.devNavigation" uib-btn-radio="'schedule'">Schedule</label></li>
                <li><label class="btn btn-primary" ng-model="mc.devNavigation" uib-btn-radio="'codepen'">Code Pen</label></li>
            </ul>
        </div>
    </div>
</nav>
